@page
@model TheSurvivorsOfCsharp.Pages.MajorUniversities.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MajorUniversity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MajorUniversity.Major)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MajorUniversity.Major.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MajorUniversity.University)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MajorUniversity.University.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MajorUniversity.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
