@page
@model TheSurvivorsOfCsharp.Pages.Courses.DetailsModel
@using Microsoft.AspNetCore.Http


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div>
        <div>
            <h4>@Html.DisplayFor(model => model.Course.Name)</h4>
        </div>
        <div style="font-size:20px">
            <a asp-page="./Statistics" asp-route-id="@Model.Course.ID">Statistics</a>
        </div>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Lecturers)
        </dt>
        <dd class="col-sm-8">
            <ul style="list-style: none; margin: 0; padding: 0;">
                @foreach (var lecturer in Model.Lecturers)
                {
                    <li>
                        @lecturer.TitleAndName
                    </li>
                }
            </ul>
        </dd>
        <dt class="col-sm-4">
            Majors that include this Course
        </dt>
        <dd class="col-sm-8">
            <ul style="list-style: none; padding: 0;">
                @foreach (var major in Model.Majors)
                {
                    <li>
                        @major.Name
                    </li>
                }
            </ul>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Course.Since)
        </dt>
        <dd class="col-sm-8">
            @{
                string semester = Model.SemesterName(Model.Course.Since);
            }
            @Html.DisplayFor(modelItem => semester)
        </dd>
        <dt class="col-sm-4">
            Overall rating
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.OverallRating)
        </dd>
        <dt class="col-sm-4">
            Contact hours
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ContactHours)
        </dd>
        <dt class="col-sm-4">
            Self study hours
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SelfStudyHours)
        </dd>
        <dt class="col-sm-4">
            How well the course was organized
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Organized)
        </dd>
        <dt class="col-sm-4">
            How much was learned in the course
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Learned)
        </dd>
        <dt class="col-sm-4">
            How interesting the course was
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Interesting)
        </dd>
        <dt class="col-sm-4">
            How well the lecturer presented the content
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Presented)
        </dd>
    </dl>
</div>
<div>
    @if (HttpContext.Session.GetString("username") != null) {
        <a asp-page="../Ratings/Create" asp-route-id="@Model.Course.ID">Rate this Course</a>} |
    <a asp-page="./EntryPage">Back to List</a>
</div>
<div style="width:1000px">
    <h4>Comments</h4>
    <ul style="list-style: none;">
        @foreach (var comment in Model.Comments)
        {
            <li>
                <p style="text-align:left;">
                    @comment.Username
                    <span style="float:right;  font-size:smaller">
                        @comment.Date
                    </span>
                    <br />
                    @comment.Text
                    <br />
                    <span style="float:right;">
                        @comment.Rating/5
                    </span>
                    <br />
                    <br />
                </p>
            </li>
        }
    </ul>
</div>
