@page "Home"
@model TheSurvivorsOfCsharp.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}

@*add more data here:<p>
        <a asp-page="Create">Create New</a>
    </p>*@
    <body>
        <header>
            <div class="text-center mt-4 mb-3">
                <h1>Quick Search</h1>
            </div>
            <hr />
        </header>

        <div class="container">
            <div class="row">
                <form>
                    University:
                    <select asp-for="University" asp-items="Model.Universities">
                        <option value=""></option>
                    </select>
                    Major:
                    <select asp-for="Major" asp-items="Model.Majors">
                        <option value=""></option>
                    </select>
                    Lecturer:
                    <select asp-for="Lecturer" asp-items="Model.Lecturers">
                        <option value=""></option>
                    </select>
                    Title: <input type="text" asp-for="SearchString" />
                    <input type="submit" value="Filter" />
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Course[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Course[0].Since)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Course[0].University)
                    </th>
               </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Course)
                {
                    <tr>
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Since)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.University.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>